<meta property="og:url"         content="{{ og-url }}" />
<meta property="og:type"        content="{{ og-type }}" />
<meta property="og:title"       content="{{ og-title }}" />
<meta property="og:description" content="{{ og-description }}" />
<meta property="og:image"       content="{{ og-image }}" />