---
og-url: http://your-url.com
og-type: website
og-title: Your site's title
og-description: This shall be the descrition.
og-keywords: these,should,be,your,own,words
og-image: http://your-url.com/images/fb_commerce.jpg
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{og-description}}">
        <meta name="keywords" content="{{og-keywords}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <title>{{ og-title }}</title>
        <link rel="canonical" href="{{ og-url }}" />
        <link href="icon.png" rel="icon" sizes="192x192"/>
        <link href="apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
        {{> open-graph}}
        <link href="//fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet"/>
        <!--build:css css/style.css -->
        <link rel="stylesheet" href="/node_modules/foundation-sites/dist/foundation.css">
        <link rel="stylesheet" href="./css/style.css">
        <!-- endbuild -->
    </head>
    <body>
        <h1>Hola, soy un web.</h1>
        <img src="./images/foto.jpg" alt="" width="50%">

        
         <button type="button" class="button sucess">Soy un boton</button>

        <script src='js/ga.js' async defer></script>
        <!--build:js js/main.js -->
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/foundation-sites/dist/foundation.js"></script>
        <script src="js/site.js"></script>
        <!-- endbuild -->
    </body>
</html>